html, body, header, h1, a, ul, li, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'Comfortaa', cursive;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

@keyframes slidedown {
    from {
      padding-bottom: 0px;
    }
    to {
      padding-bottom: 56.25%;
    }
}

@keyframes slidedownbig {
  from {
    padding-bottom: 0px;
  }
  to {
    padding-bottom: 505px;
  }
}

@keyframes listslidedown {
  from {
    max-height: 0;
  }
  to {
    max-height: 3000px;
  }
}

.container {
  background-color: #151515;
}



/*---------------------NAVBAR--------------------*/
.navbar {
  color: orange;
  height: 85px;
  background-color: black;
}

.navbar-contents {
  width: 760px;
  margin: auto;
}

.navbar .logo {
  width: 340px;
  float: left;
  margin: 0 20px;
  text-align: right;
  padding-right: 120px;
  font-size: 62px;
  font-weight: bold;

  background-image: url('../images/tiger.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 120px;
}

.navbar .logo span:first-child {
  color: white;
}

.search-box {
  width: 260px;
  display: inline-block;
  position: relative;
  color: black;
}

.search-box input {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  background-color: #323232;
}

.search-box input:focus {
  background-color: #eee;
}

.search-results {
  position: absolute;
  top: 55px;
  right: 0;
  background-color: #eee;
  width: 600px;
  white-space: nowrap;
  max-height: 400px;
  overflow: auto;
  z-index: 1000;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-results li {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
}

.search-results li:hover {
  background-color: #343434;
  color: white;
}

.search-img-container {
  float: left;
}

.search-text {
  max-width: 450px;
  display: inline-block;
  padding: 10px;
}

.search-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-text p:first-child {
  font-weight: bold;
}



/*----------------VIDEO SECTION---------------*/

.video-section {
  background-color: black;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-stats {
  max-width: 900px;
  margin: auto;
}

.video-stats p {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 33%;
  white-space: nowrap;
  color: #eee;
}



/*------------------PLAYLISTS------------------ */
.playlists {
  padding: 10px 0;
}

.playlist-container {
  max-height: 0;
  /*width: calc(100% - 300px);*/
  width: 100%;
  /*max-width: 810px;*/
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-flow: row nowrap;
}

.playlist {
  position: relative;
}

.playlist ul {
  max-height: 0;
  width: 100%;
  flex: 0 0 100%;
  /*max-width: 810px;*/
}

.playlist-container,
.active ul {
  animation: listslidedown 2s forwards;
}

.active {
  margin-bottom: 50px;
}

.tile {
  display: inline-block;
  margin: 20px 0 0 20px;
  width: calc(25% - 20px);
  /*max-width: 250px;*/
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.tile:nth-child(3n - 2) {
  margin-left: 10px;
}

.video-img-cont img:hover {
  opacity: 0.7;
}

.playing .video-img-cont {
  position: relative;
  cursor: default;
}

.playing .video-img-cont img {
  opacity: 0.3;
}

.playing .video-text {
  opacity: 0.3;
  cursor: default;
}

.playing .video-img-cont::after {
  content: "Playing";
  position: absolute;
  font-size: 24px;
  color: white;
  width: 100%;
  left: 0;
  top: 40px;
  opacity: 1;
}

.video-img-cont img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.video-text {
  background-color: black;
  padding: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.video-artist {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.video-title {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  width: calc(100% - 250px);
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  margin: auto;
  padding-top: 20px;
  color: white;
  cursor: pointer;
}

h3:after {
  content: '';
  display: block;
  border-bottom: 5px solid white;
  width: 0;
  position: absolute;
}

h3:hover:after {
  transition: 0.6s ease-in;
  -webkit-transition: 0.6s ease-in;
  width: calc(100% - 250px);
}

.playlist button {
  position: absolute;
  padding: 5px 10px;
  background-color: black;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  height: 60%;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
}

.playlist button.next {
  right: 0;
}


/*-------------------RESPONSIVE CHANGES------------*/

/*window between 769px and 1000px*/
@media only screen and (max-width: 1000px) {

  /*.playlist-container {
    width: calc(100% - 150px);
  }*/

  .video-container {
    animation: slidedown 2s forwards;
  }
}

/*window between 601px and 768px*/
@media only screen and (max-width: 768px) {

  .search-box {
    display: none;
  }

  .navbar-contents {
    width: 100%;
  }

  .navbar-contents .logo {
    text-align: center;
    float: none;
    margin: auto;
  }

  /*.playlist-container {
    width: calc(100% - 228px);
  }*/

  .tile {
    width: calc(33.33% - 20px);
  }

  .tile:nth-child(3n - 2) {
    margin-left: 20px;
  }

  .tile:nth-child(2n - 1) {
    margin-left: 10px;
  }
}

/*window between 501px and 600px*/
@media only screen and (max-width: 600px) {
  /*.playlist-container {
    width: calc(100% - 50px);
  }*/

  .tile {
    width: calc(50% - 20px);
  }
}

/*window smaller than 501px*/
@media only screen and (max-width: 500px) {
  /*.playlist-container {
    width: 100%;
  }*/

  .navbar .logo {
    background-image: none;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (min-width: 900px) {
  .video-container {
    width: 900px;
    margin: auto;
    animation: slidedownbig 2s forwards;
  }
}
